 
 body{
    font-family: "Poppins", sans-serif;
 }

   /* COLOR PRIMARY CODE */
:root{
    --primary-font-color: #3A3A3A;
    --secondary-font-color: #18191F;
    --third-font-color: #787885;
    --four-font-color: #6C6C6C;
    --five-font-color: #D9DBE1;
    --six-font-color: #E02C6D;
    --button-backgroun-color: #E02C6D;
    --footer-background-color: #0A0826;
    --button-font-color: #ffffff;
    --social-icon-color: #ffffff;
}

/* seard style */

.flix_display{
    display: flex;
    align-items: center;
}

.maximum_width{
    max-width: 1200px;
    margin: 0 auto;
}

.button_primary{
    background-color: var(--button-backgroun-color);
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    color: var(--button-font-color);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    gap: 8px;
}

.more_button_box{
    width: 100%;
    justify-content: right;
}

.button_more_product{
    color: var(--six-font-color);
    background-color: transparent;
    margin: 20px 50px auto auto;
}

.button_featured{
    border-radius: 0px;
}

/* normal style code */
#navigation_bar{
    margin-top: 34px;
    justify-content: space-between;
}
#navigation_bar h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-font-color);
}
#navigation_bar ul{
    gap: 34px;
}
#navigation_bar ul li{
    list-style: none;
}
#navigation_bar ul a ,#navigation_bar ul a i{
    text-decoration: none;
    color: var(--primary-font-color);
    font-size: 1rem;
    font-weight: 600;
}

/* header section design */
#header_box{
    margin-top: 80px;
    justify-content: space-between;
}
#header_box .header_contant{
    max-width: 582px;
}
#header_box .header_contant h1{
    font-size: 3.25rem;
    font-weight: bold;
    color: var(--primary-font-color);
    line-height: 4.375rem;
    margin-bottom: 16px;
}
#header_box .header_contant p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-font-color);
    margin-bottom: 1rem;
}
#header_box .header_image{
    max-width: 475px;
    overflow: hidden;
    background-image: url("../images/Circle-design.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#header_box .header_image img{
    max-width: 440px;
    width: 100%;
   
}
.sponser_box{
    margin-top: 100px;
    justify-content: space-evenly;
}

/* colection style */

.our_colections{
    text-align: center;
    margin-top: 100px;
}
.colection_box{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}
.our_colections_title{
    color: var(--primary-font-color);
    font-size: 1.7rem;
    line-height: 4.375rem;
    margin-bottom: 30px;
}
.card{
    border: 1px solid #3A3A3A;
    text-align: left;
    padding: 17px 15px;
    border-radius: 20px;

}
.card img{
    width: 100%;
    border-radius: 5px;
}
.card h2{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
    color: var(--secondary-font-color);
}
.card_p{
    font-size: 1.5rem;
    line-height: 150%;
    color: #000000;
    font-family: "Inter", sans-serif;
}
.card :last-child{
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 143%;
    max-width: 190px;
    color: var(--third-font-color);
    font-family: "Inter", sans-serif;
}
/* featured_products_box design */

.featured_products_box{
    margin-top: 100px;
    justify-content: space-between;
}
.featured_products{
    max-width: 405px;
}
.featured_products img{
    width: 100%;
}
.featured_products_details{
    max-width: 610px;
}
.featured_products_details h2{
    font-size: 2.375rem;
    line-height: 60px;
    color: var(--footer-background-color);
    margin-bottom: 1rem;
    font-weight: bold;
}
.featured_products_details p{
    font-size: 1rem;
    line-height: 28px;
    font-weight: bold;
}
#footer{
    margin-top: 100px;
    background-color: var(--footer-background-color);
    padding: 50px 0;
}
.futer_containt{
    text-align: center;color: var(--button-font-color);
}
.futer_containt h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.futer_containt p{
    font-size: 0.875rem;
    line-height: 24px;
    font-weight: bold;
    color: var(--five-font-color);
    margin-bottom: 18px;
    font-family: "Manrope", sans-serif;
} 
.social_icons {
    justify-content: center;
    gap: 30px;
}
.social_icons a i{
    width: 2rem;
    height: 2rem;
    font-size: 1.75rem;
    color: var(--social-icon-color);
}